* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.f, .fs, .fc, .fe, .fas, .fac, .fae, .fw, .fd {
    display: flex;
}

.fs {
    justify-content: flex-start;
}

.fc {
    justify-content: center;
}

.fe {
    justify-content: flex-end;
}

.fas {
    align-items: flex-start;
}

.fac {
    align-items: center;
}

.fae {
    align-items: flex-end;
}

.fw {
    justify-content: space-between;
}

.fd {
    flex-direction: column;
}

.fv {
    justify-content: space-evenly;
}

.fp {
    flex-wrap: wrap;
}

.fa {
    justify-content: space-around;
}

#header{
    width: 1100px;
    margin-bottom: 2rem;
}

#header .headerLine{
    border-bottom: 3px solid #000;
}

#headerTable {
    margin-bottom: 2rem;
}

#headerTable table th {
    padding: 0.5rem;
    cursor: pointer;
}

#body {
    width: 1100px;
    margin-bottom: 2rem;
}

.bodyBox {
    width: 100%;
}

#body .bodyBorder {
    border-bottom: 3px solid #000;
}

#body .bodyTitleBox{
    margin-bottom: 2rem;
}

#body .bodyPhone{
    margin-bottom: 2rem;
}

#body .phoneLine{
    width: 2px;
    height: 30%;
    background-color: gray;
    margin-left: 1rem;
    margin-right: 1rem;
}

#body .phoneBox{
    width: 13%;
    height: 60px;
    border: 2px solid gray;
}

.tableColor{
    background-color: gray;
}

